@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*   全域設定   */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/*   顏色變數   */
/*   文字變數   */
html * {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}

h1,
.h1 {
  font-size: 4rem;
  line-height: 6rem;
}

h2,
.h2 {
  font-size: 3rem;
  line-height: 4.5rem;
}

h3,
.h3 {
  font-size: 2.25rem;
  line-height: 3.375rem;
}

h4,
.h4 {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

h5,
.h5 {
  font-size: 1rem;
  line-height: 1.5rem;
}

.eng {
  font-family: "Roboto", sans-serif;
}

/*   斷點變數   */
/*   mixin   */
.wrap {
  max-width: 1110px;
  width: 90%;
  margin: 0 auto;
}

/*   header   */
.header {
  width: 100%;
  background-color: #aa0601;
  padding: 30px 88px;
}

.headerContent {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 720px) {
  .headerContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.headerContent__logo {
  background-image: url(/assets/images/logo.png);
  width: 80px;
  height: 49px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.headerContent__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.headerContent__nav li {
  margin-right: 64px;
}

.headerContent__nav li:last-child {
  margin-right: 0;
}

.headerContent__nav a {
  display: block;
  color: #fff;
}

@media (max-width: 720px) {
  .headerContent__nav {
    width: 50%;
  }
}

/*   footer   */
.footer {
  background-color: #aa0601;
  padding-top: 32px;
  padding-bottom: 39px;
  color: #fff;
}

.footer a {
  color: #fff;
}

.footer hr {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 32px;
}

.footerRow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerRow__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footerRow__nav li {
  margin-right: 48px;
}

@media (max-width: 768px) {
  .footerRow__nav li {
    margin-right: 40px;
  }
}

.footerRow__nav li:last-child {
  margin-right: 0;
}

.footerConnection {
  margin-top: 24px;
}

.footerConnection li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footerConnection__img {
  margin-right: 22px;
}
