<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <div class="headerContent">
      <h1 class="headerContent__logo">glasses</h1>
      <ul class="headerContent__nav">
        <li><a href="#" class="h4">系列鏡框</a></li>
        <li><a href="#" class="h4">門市據點</a></li>
        <li><a href="#" class="h4">部落格</a></li>
        <li><a href="#" class="h4">常見問題</a></li>
      </ul>
    </div>
  </header>

  <%- contents %>

  <footer class="footer">
    <div class="wrap">
      <div class="footerRow">
        <ul class="footerRow__nav">
          <li><a href="#" class="h5">首頁</a></li>
          <li><a href="#" class="h5">系列鏡框</a></li>
          <li><a href="#" class="h5">門市據點</a></li>
          <li><a href="#" class="h5">部落格</a></li>
          <li><a href="#" class="h5">常見問題</a></li>
        </ul>
        <ul class="footerRow__nav footerRow__sns">
          <li><a href="#"><img src="assets/images/icon-fb.svg" alt="facebook"></a></li>
          <li><a href="#"><img src="assets/images/icon-ig.svg" alt="ig"></a></li>
          <li><a href="#"><img src="assets/images/icon-line.svg" alt="line"></a></li>
        </ul>
        <ul class="footerConnection">
          <li>
            <img src="assets/images/icon-phone.svg" alt="Phone" class="footerConnection__img">
            <h3>0800-000-000</h3>
          </li>
          <li>
            <img src="assets/images/icon-mail.svg" alt="Mail" class="footerConnection__img">
            <h3>glassess@business.com</h3>
          </li>
        </ul>
      </div>
      <hr>
      <div class="footerRow footerRow__copyRight">
        <h5>Copyright © 2020 Glasses.All rights reserved.</h5>
        <ul class="footerRow__nav">
          <li>
            <a href="#">
              <h5>隱私權政策</h5>
            </a>
          </li>
          <li>
            <a href="#">
              <h5>服務條款</h5>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
