/*   文字變數   */
$h1: 4rem;
$h2: 3rem;
$h3: 2.25rem;
$h4: 1.25rem;
$h5: 1rem;
$p: 0.89rem;
html * {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}
h1,
.h1 {
  font-size: $h1;
  line-height: 6rem;
}
h2,
.h2 {
  font-size: $h2; //48px
  line-height: 4.5rem;
}
h3,
.h3 {
  font-size: $h3;
  line-height: 3.375rem;
}
h4,
.h4 {
  font-size: $h4; //20px
  line-height: 1.875rem;
}
h5,
.h5 {
  font-size: $h5;
  line-height: 1.5rem;
}
p,
.p {
  font-size: $p;
  line-height: 1.3rem;
}
.eng {
  font-family: "Roboto", sans-serif;
}
.t-italic {
  font-style: italic;
}
