$spacer: 10px;
//
.mt1 {
  margin-top: $spacer;
}
.mt2 {
  margin-top: $spacer * 2;
}
.mt3 {
  margin-top: $spacer * 3;
}
.mt4 {
  margin-top: $spacer * 4;
}
.mt5 {
  margin-top: $spacer * 5;
}
//
.mb1 {
  margin-bottom: $spacer;
}
.mb2 {
  margin-bottom: $spacer * 2;
}
.mb3 {
  margin-bottom: $spacer * 3;
}
.mb4 {
  margin-bottom: $spacer * 4;
}
.mb5 {
  margin-bottom: $spacer * 5;
}
//
.mr1 {
  margin-right: $spacer;
}
.mr2 {
  margin-right: $spacer * 2;
}
.mr3 {
  margin-right: $spacer * 3;
}
.mr4 {
  margin-right: $spacer * 4;
}
.mr5 {
  margin-right: $spacer * 5;
}
//
.ml1 {
  margin-left: $spacer;
}
.ml2 {
  margin-left: $spacer * 2;
}
.ml3 {
  margin-left: $spacer * 3;
}
.ml4 {
  margin-left: $spacer * 4;
}
.ml5 {
  margin-left: $spacer * 5;
}
//
.pl1 {
  padding-left: $spacer;
}
.pl2 {
  padding-left: $spacer * 2;
}
.pl3 {
  padding-left: $spacer * 3;
}
.pl4 {
  padding-left: $spacer * 4;
}
.pl5 {
  padding-left: $spacer * 5;
}
//
.pr1 {
  padding-right: $spacer;
}
.pr2 {
  padding-right: $spacer * 2;
}
.pr3 {
  padding-right: $spacer * 3;
}
.pr4 {
  padding-right: $spacer * 4;
}
.pr5 {
  padding-right: $spacer * 5;
}
//
.pt1 {
  padding-top: $spacer;
}
.pt2 {
  padding-top: $spacer * 2;
}
.pt3 {
  padding-top: $spacer * 3;
}
.pt4 {
  padding-top: $spacer * 4;
}
.pt5 {
  padding-top: $spacer * 5;
}
//
.pb1 {
  padding-bottom: $spacer;
}
.pb2 {
  padding-bottom: $spacer * 2;
}
.pb3 {
  padding-bottom: $spacer * 3;
}
.pb4 {
  padding-bottom: $spacer * 4;
}
.pb5 {
  padding-bottom: $spacer * 5;
}
//字體
.t-primary {
  color: $primary;
}
.t-dark-primary {
  color: $dark-primary;
}
.t-white {
  color: $white;
}
.t-light {
  color: $light;
}
.t-black {
  color: $black;
}
.t-gray {
  color: $gray;
}
//字粗
.t-bold {
  font-weight: 600;
}
//字對其
.t-center {
  text-align: center;
}
.t-right {
  text-align: right;
}
.t-left {
  text-align: left;
}
//背景
.b-primary {
  background-color: $primary;
}
.b-dark-primary {
  background-color: $dark-primary;
}
.b-light {
  background-color: $light;
}
.b-black {
  background-color: $black;
}
.b-gray {
  background-color: $gray;
}
